.example-toolbar{
    background-color: #0d0d0e;
    font-size:25px
}

a{
    margin: 2px;
}

.active-link{
    background-color:rgb(111, 116, 121) ;
}

.logo{

    height: 75px;
    width:90px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.header-spacer{
    flex: 1 1 auto;
}

.mat-icon{
    vertical-align: middle;
    margin: 0 5px;
}

.logout-button{
    background-color: #b9ada1ef;
}
.pm-title{
    margin-left: 0.9em;
    
}
.prod-button{
    margin-left: 1;
}

.pro-fonts{
    font-family: 'Abril Fatface', cursive;
}