

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.icon{width: 100;height: 100;}
.spacer{
    flex: 1 1 auto;
}
.left-spacer{
    margin-left: 2%;
}

mat-dialog-container {
    background-color: #b9ada1ef !important;
 }

 .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #020202!important;
}

main{
    text-align: center;
    position: relative;
}
.pm-title{
    font-family: 'Lobster', cursive;
    margin-right: 15px;
}

mat-row{
   color: black !important;
}